.section9 {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 5rem;
}

.section9_name {
    text-transform: uppercase;

    display: flex;
    justify-content: center;

    margin-bottom: 1.6rem;

    font-family: 'Open Sans', sans-serif;
}

.section9_name::before {
    content: "[";
    color: #eec14d;
}
.section9_name::after {
    content: "]";
    color: #eec14d;
}

.section9_content {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;

    position: relative;
}

.section9_content_card {
    width: 16.875rem;
    height: 29rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;

    
    
    -webkit-box-shadow: 1px 8px 36px -26px rgba(0,0,0,0.63);
    -moz-box-shadow: 1px 8px 36px -26px rgba(0,0,0,0.63);
    box-shadow: 1px 8px 36px -26px rgba(0,0,0,0.63);
}

.section9_content_card2, .section9_content_card3 {
    display:none;
}


.section9_content_card_img {
    border-radius: 50rem;
    border-style: solid;
    border-color: #eaf1f9;
    border-width: 0.5rem;
}

.section9_content_card_name {
    font-family: 'Roboto', sans-serif;
    color: #2c2c2c;
    font-size: 1.4rem;
}

.section9_content_card_text {
    font-family: 'Roboto', sans-serif;
    color: #2c2c2c;
    font-size: 1.1rem;
    width: 12rem;
}

.section9_btn_left {
    background-color:white;
    height: 3.125rem;
    width: 3.125rem;
    border-radius: 50rem;
    border: none;
    

    color:#eaeaea;
    font-size: 1.4rem;

    box-shadow: 1.5px 2.598px 9px 0px rgba(2, 2, 1, 0.1);

    position: absolute;
    left: 4px;
}

.section9_btn_right {
    background-color:white;
    height: 3.125rem;
    width: 3.125rem;
    border-radius: 50rem;
    border: none;

    color:#eaeaea;
    font-size: 1.4rem;

    box-shadow: 1.5px 2.598px 9px 0px rgba(2, 2, 1, 0.1);

    position: absolute;
    right: 4px;
}

.section9_btn_left:hover, .section9_btn_right:hover {
    color: #5f7cec;
}



@media (min-width:768px) {

    .section9_content_card {
        width: 23.75rem;
        height: 31rem;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-around;

        -webkit-box-shadow: 1px 8px 36px -26px rgba(0,0,0,0.63);
        -moz-box-shadow: 1px 8px 36px -26px rgba(0,0,0,0.63);
        box-shadow: 1px 8px 36px -26px rgba(0,0,0,0.63);
    }
    
    .section9_content_card2, .section9_content_card3 {
        display:none;
    }

    .section9_btn_left {
        position: absolute;
        left: 170px;
    }

    .section9_btn_right {
        position: absolute;
        right: 170px;
    }

}


@media (min-width:1200px) {
    
    .section9_content_card {
        width: 22rem;
        height: 32rem;
        position: static;
    }

    .section9_content_card2, .section9_content_card3 {
        display: flex;
        margin-left: 1.2rem;
    }

    .section9_content {
        margin: auto;
    }

    .section9_btn_left {
        position: absolute;
        left: 30px;
    }

    .section9_btn_right {
        position: absolute;
        right: 30px;
    }

}

@media (min-width:1920px) {

    .section9_content_card {
        width: 28px;
        height: 36px;
    }

    .section9_content {
        margin:auto;
        position: relative;
    }

    .section9_btn_left {
        position: absolute;
        left:350px;
    }

    .section9_btn_right {
        position: absolute;
        right: 350px;
    }
}